<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GZFJVD4374"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-GZFJVD4374');
  </script>
    
  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>

          <!--- Display the About, Archive, etc. pages in the header --->
          {% for page in site.pages_list %}
              &nbsp;&nbsp;&nbsp;<small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
          {% endfor %}

        </h3>
        <!---- I could use this to include the tag line, but it looks cluttered...
        <h3 class="masthead-title">
             <small>{{ site.tagline }}</small>
        </h3>
        ----->

      </header>

      <main>
        {{ content }}
      </main>
      
      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  <!---- Old UA analytics code lived here ---->
    
  </body>
</html>
